body{
	/*background-image: url('images/dreamy.jpg');*/
	background-color: rgb(116, 129, 129);
	background-size: cover;
	font-family: gabriola;
	font-size: 20px;
	line-height: 24px;
}
.nav_bar{
	text-align: center;
    width: 99.5%;
    background-color: blue;
    margin-top: 0;
    margin-left: 0.5%;
    opacity: 1.0;
}
.nav_bar ul{
	padding: 0;
	list-style: none;
	position: relative;
}
.nav_bar ul li a{
	display: block;
    padding: 12px 0 0 0;
    color: white;
    text-align: center;
    text-decoration: none;
    width: 260px;
    height: 36px;
	
}

.nav_bar ul:after{
	content: "";
	clear: both;
	display: block;
}
.nav_bar ul li{
	float: left;
	list-style: none;
}
.nav_bar ul ul{
	display: none;	
}
.nav_bar ul li:hover{
	transition: 2s;
}
.nav_bar ul li:hover a{
	color:white;
}
.nav_bar ul li:visited {
	color: black;
}
.nav_bar ul ul{
	background: 542437;
	padding: 0;
	margin: 0;
	position: absolute; 
	top:100%;
} 
.nav_bar ul ul li{
	float: none;
	position: relative;
}
.nav_bar ul div ul li a{
	padding: 25px;
	color: white;
	width: 300px;
	text-align: left;
}
.nav_bar ul ul li a:hover{
	background: lightblue;
	color: black;
	transition:0.9s;
}
.nav_bar ul li:hover ul{
	display: block;
}
.nav_bar ul li.visited a{
	color: 542437;
	text-underline-position: under;
    border-bottom-color: #FDC609;
}
#imgslider{
    width: 23%;
    height: 81%;
    margin-left: 5px;
}
.pict2{
	width: 23%;
    height: 85%;
    position: absolute;
    top: 9%;
    left: 1%;
}
#video{
    width: 74.4%;
    height: 25%;
    background-color: white;
    position: absolute;
    top: 11.5%;
    left: 25%;
}
#video video{
	width: 74.4%;
    height: 25%;
    background-color: white;
    position: absolute;
    top: 11.5%;
    left: 25%;
}
#video a:hover{
	opacity: 0.6;
}
#video #video1{
	position: absolute;
    top: 25.7%;
    left: 24%;
    width: 24%;
    height: 74%;
}
#video #video2{
	position: absolute;
    top: 25.7%;
    left: 50%;
    width: 24%;
    height: 74%;
}
#video #video3{
	position: absolute;
    top: 25.7%;
    left: 76%;
    width: 24%;
    height: 74%;
}
#footer{
	width: 99.5%;
    height: 4%;
    background-color: #FF6B0E;
    display: block;
    position: relative;
    margin: 0.5%;
    margin-bottom: 0.2px;
    margin-top: 2%;
    text-align: center;
    font-family: gabriola;
    font-size: 18;
    color: white;
}
#img1{
	background-image: url(images/main.jpg);
    width: 23%;
    height: 81%;
    margin-left: 5px;
}
.pict{
	width: 34%;
    height: 33%;
    border-radius: 31%;
    overflow: hidden;
    position: relative;
    top: -4%;
    left: -6%;
}

#photos{
	width: 74.4%;
    height: 25%;
    background-color: blue;
    position: absolute;
    top: 38.5%;
    left: 25%;
}
#pf{
	width: 74.4%;
    height: 25%;
    background-color: white;
    position: absolute;
    top: 65.5%;
    left: 25%;
}
#movies{
	width: 24%;
    height: 38%;
    background-color: transparent;
    position: absolute;
    top: 11.5%;
    left: 52%;
}
#tutorials{
	width: 22%;
    height: 37.3%;
    background-color: transparent;
    position: absolute;
    top: 11.5%;
    left: 77.2%;
}
#music{
	width: 24%;
    height: 37.3%;
    background-color: transparent;
    position: absolute;
    top: 52.5%;
    left: 52%;
}
#tvshows{
	width: 25%;
    height: 37.3%;
    background-color: transparent;
    position: absolute;
    top: 52.5%;
    left: 25%;
}
#sport{
	width: 25%;
    height: 38%;
    background-color: transparent;
    position: absolute;
    top: 11.5%;
    left: 25%;
}
#books{
	width: 22%;
    height: 37.2%;
    background-color: transparent;
    position: absolute;
    top: 52.5%;
    left: 77.4%;
}
.P1{
	font-size: 4em;
    font-weight: bold;
    position: absolute;
    left: 6%;
    top: 57%;
}
#imgslider .P2{
	font-size: 4em;
    font-weight: bold;
    position: absolute;
    left: 13%;
    top: 66%;
}
.vid{
	font-size: 3em;
    font-weight: bold;
    position: absolute;
    left: 2%;
    top: -23%
}
.phot{
	font-size: 3em;
    font-weight: bold;
    position: absolute;
    left: 2%;
    top: -24%;
}
.bm{
	font-size: 3em;
    font-weight: bold;
    position: absolute;
    left: 2%;
    top: -26%;
}
#movies p{
	font-size: 2em;
    font-weight: bold;
    position: absolute;
    left: 2%;
    top: -11%;
}
#music p{
	font-size: 2em;
    font-weight: bold;
    position: absolute;
    left: 2%;
    top: -11%;
}
#books p{
	font-size: 2em;
    font-weight: bold;
    position: absolute;
    left: 2%;
    top: -11%;
}
#movies a img{
	width: 97%;
    height: 116%;
    position: absolute;
    top: -4.5%;
    left: 4%;
}
.galleryl img:hover{
	opacity:0.6;
	filter:alpha(opacity=100); 
}

#books a img{
	 width: 97%;
    height: 111%;
    position: absolute;
    top: 0%;
    left: 1%
}
#music a img{
	width: 97%;
    height: 111%;
    position: absolute;
    top: -3.5%;
    left: 4%
}
#movie1{
	width: 24%;
    height: 26%;
    background-color: blue;
    position: absolute;
    top: 11.5%;
    left: 25%;
}
#movie2{
	width: 24%;
    height: 26%;
    background-color: white;
    position: absolute;
    top: 11.5%;
    left: 50.3%;
}

#movie3{
	width: 24%;
    height: 26%;
    background-color: blue;
    position: absolute;
    top: 11.5%;
    left: 75.5%;
}

#movie4{
	width: 24%;
    height: 26%;
    background-color: yellow;
    position: absolute;
    top: 39%;
    left: 25%;
}

#movie5{
	width: 24%;
    height: 26%;
    background-color: red;
    position: absolute;
    top: 39%;
    left: 50.3%;
}

#movie6{
	width: 24%;
    height: 26%;
    background-color: brown;
    position: absolute;
    top: 39%;
    left: 75.5%;
}

#movie7{
	width: 24%;
    height: 26%;
    background-color: green;
    position: absolute;
    top: 66.5%;
    left: 25%;
}

#movie8{
	width: 24%;
    height: 26%;
    background-color: navy;
    position: absolute;
    top: 66.5%;
    left: 50.3%;
}

#movie9{
	width: 24%;
    height: 26%;
    background-color: pink;
    position: absolute;
    top: 66.5%;
    left: 75.5%;
}
.moviesl p{
	font-size: 1em;
    font-weight: bold;
    position: absolute;
    left: 3%;
    top: -11%;
}
.moviesl video{
	width: 100%;
    height: 87%;
    position: absolute;
    top: 13%;
    left: 0;
}
.moviesl img{
	width: 100%;
    height: 95%;
    position: absolute;
    top: 6%;
    left: 0;
}
.moviesl img:hover{
	opacity:0.6;
	filter:alpha(opacity=100); 
}
table{
	border-color: black;
    border-width: thick;
    width: 75%;
    height: 79%;
    position: absolute;
    left: 24.5%;
    top: 10%;
}
table th{
	font-size: 3em;
	font-weight: bold;
}
#imgslideshow img{
	width: 31%;
    height: 85%;
    position: absolute;
    left: 68.5%;
    top: 9%;
}
#imgslideshow img:hover{
	opacity: 0.6;
}
#imgslideshow p{
	font-size: 1.6em;
    font-weight: lighter;
    position: absolute;
    left: 70%;
    top: 85%;
    color: 400;
}
#profpic img{
	width: 16%;
    height: 20%;
    position: absolute;
    top: 9%;
    left: 37.5%;
    border-radius: 20%;
}
#profbox {
    
    position: absolute;
    width: 43%;
    height: 85%;
    top: 9%;
    left: 25%;
}
#profbox img{
    position: absolute;
    width: 100%;
    height: 162%;
    left: 0%;
}
#profbox h4{
    color: black;
    font-weight: bold;
    font-size: 1.3em;
    position: absolute;
    left: 14%;
    top: 37%;
}
.socnet{
	border: none;
	outline: none;
	cursor: pointer;
}
.socnet img{
    opacity: 0.7;
    width: 3%;
    height: 6%;
}
			
.socnet img:hover{
	opacity:0.5;
	/*filter:alpha(opacity=100);*/ 
}
.socnet #facebook{
    position: absolute;
    left: 13%;
    top: 87%;
    height: 7%;
}
.socnet #twiter{
	position: absolute;
    left: 17%;
    top: 88%;
}
.socnet #instagram{
	position: absolute;
    left: 21%;
    top: 88%
}
#feeback_form{
	position: absolute;
    left: 46%;
    top: 22%;
    background-image: url(images/yasin.png);
    height: 68.9%;
    width: 35.2%;
}
#feeback_form p{
	font-size: 1.6em;
    font-weight: bold;
    position: absolute;
    left: -21%;
    top: -15%;
}
#namef{
	position: absolute;
    left: 30%;
    top: 9%;
}
#emailf{
    position: absolute;
    left: 30%;
    top: 35%;
}
#phonef{
	position: absolute;
    left: 18%;
    top: 56%;
}
#feedback_textarea{
	position: absolute;
    left: 29%;
    top: 81%;
}
#buttonf input{
	position: absolute;
    width: 22%;
    height: 6%;
    left: 56%;
    top: 92%;
    background-color: red;
}
#photosl  {
	width: 75%;
    height: 85%;
    position: absolute;
    top: 7%;
    left: 22%;
}
.img1{
	width: 20%;
    height: 20%;
    position: absolute;
    top: 3%;
    left: 20%;
}
.img2{
	width: 20%;
    height: 20%;
    position: absolute;
    top: 3%;
    left: 20%;
}
 .img3{
	width: 20%;
    height: 20%;
    position: absolute;
    top: 3%;
    left: 20%;
}
 .img4{
	width: 20%;
    height: 20%;
    position: absolute;
    top: 3%;
    left: 20%;
}
 .img5{
	width: 20%;
    height: 20%;
    position: absolute;
    top: 3%;
    left: 20%;
}
 .img6{
	width: 20%;
    height: 20%;
    position: absolute;
    top: 3%;
    left: 20%;
}
 .img7{
	width: 20%;
    height: 20%;
    position: absolute;
    top: 3%;
    left: 20%;
}
 .img6{
	width: 20%;
    height: 20%;
    position: absolute;
    top: 3%;
    left: 20%;
}
.img7{
	width: 20%;
    height: 20%;
    position: absolute;
    top: 3%;
    left: 20%;
}
 .img8{
	width: 20%;
    height: 20%;
    position: absolute;
    top: 3%;
    left: 20%;
}
 .img9{
	width: 20%;
    height: 20%;
    position: absolute;
    top: 3%;
    left: 20%;
}
#photosl img{
    display: block;
    padding-top: 1%;
    width: 24%;
    height: 22%;
    position: relative;
    border: 1px solid #99adeb;
    box-shadow: 1px 1px 2px #000;
}
#photosl img:hover{
    border:1px solid #fff;
	transform: scale(1.1);
} 
.jm-item{
	padding: 1.5px;
	display: inline-block;
	text-align: left;
}
.jm-item-wrapper{
	position: absolute;
    left: 69.5%;
    top: 10%;
    background: #E8D7B6;
    width: 30%;
    height: 84%;
}
.jm-item-image{
	position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
.jm-item-image img{
	display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}
.jm-item-title{
	position: absolute;
    left: 28%;
    bottom: 64px;
    background: #FF6B0E;
    line-height: 1em;
    font-weight: normal;
    padding: 7px 9px 6px;
    color: #FFFFFF;
    font-size: 1.4em;
    width: 44%;
    text-align: center;
}
.jm-item-overlay{
	background: #000;
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-webkit-transition:opacity 0.5s ease-in 0s;
	-moz-transition: opacity 0.5s ease-in 0s;
	-o-transition:opacity 0.5s ease-in 0s;
	transition:opacity 0.5s ease-in 0s;
}
.jm-item-wrapper:hover .jm-item-overlay{
	opacity: 0.1;
}
.jm-item-button{
	height: 20%;
    width: 59%;
    text-align: center;
    position: absolute;
    left: 35%;
    top: 33%;

}
.jm-item-button a{
	-webkit-border-radius: 37%;
    background: #FF6B0E;
    color: #FFFFFF;
    font-size: 2.2em;
    line-height: 253%;
    width: 50%;
	transition:all 0.2s ease-in 0s;
	text-decoration: none !important;
	display: block;
}
.jm-item-button a:hover{
	background: #3b3b3b;
}
.second .jm-item-wrapper .jm-item-title{
	transition:all 0.2s ease-in 0s;
}
.second .jm-item-wrapper:hover .jm-item-title{
	left: -8%;
}
.second .jm-item-description{
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 10px;
	background: rgba(0,0,0,0.4);
	color: #fff;
	top: 100%;
	transition:all 0.5s ease-in 0s;
}
.second .jm-item-wrapper:hover .jm-item-description{
	top: 0;
}
.audios audio{
    position: relative;
    left: 8%;
    width: 87%;
    height: 9%;
}
.home img:hover{
    opacity:0.5;
     
}
.audio :hover{
    opacity:0.5;
    
}